<div class="header">
  <mat-toolbar color="primary">
    <span class="header-title" [routerLink]="['/']">TalkBack</span>
    <span class="header-spacer"></span>

    <span *ngIf="(isLoggedIn$ | async)">Hi, {{ userDetails?.displayName }}</span>

    <button *ngIf="!(isLoggedIn$ | async); else loggedIn" (click)="signWithGoogle()"
      mat-icon-button class="header-icon" matTooltip="SignIn">
      <mat-icon>login</mat-icon>
    </button>
    <ng-template #loggedIn>
      <button (click)="signOut()" mat-icon-button class="header-icon" matTooltip="SignOut">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar>

</div>