<div class="header">
  <mat-toolbar color="primary">
    <span>TalkBack</span>
    <span class="header-spacer"></span>
    <button *ngIf="!isLoggedIn" (click)="signWithGoogle()" mat-icon-button class="header-icon"
      aria-label="Header icon-button with share icon">
      <mat-icon>login</mat-icon>
    </button>
    <button *ngIf="isLoggedIn" (click)="signOut()" mat-icon-button class="header-icon"
      aria-label="Header icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

</div>